.h2-contacto {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
    min-height: 100px;
    max-height: 400px;
    max-width: 100%;
    min-width: 100%;
  }
  
  .boton {
    background-color: #f1e2ce;
    color: black;
    padding: 20px;
  
    &:hover {
      cursor: pointer;
    }
  }